<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train Report</title>
</head>
<body>
    <h1>Please find below details of Trains</h1>
    <div class="report">
        {% if insert_train_details %}
        <table border="2px">
            <thead>
                <th>Train Num</th>
                <th>Train Name</th>
                <th>Origin City</th>
                <th>Destination City</th>
                <th>Deparure Time</th>
                <th>Arival Time</th>
            </thead>

            {% for x in insert_train_details %}
            <tr>
                <td>{{x.train_num}}</td>
                <td>{{x.train_name}}</td>
                <td>{{x.origin_city}}</td>
                <td>{{x.destination_city}}</td>
                <td>{{x.departure_time}}</td>
                <td>{{x.arival_time}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO Details found</p>
        {%endif %}
    </div>

    <div class="list">
        <h2>Train Detais in the form of list </h2>
        {% if insert_train_details%}
        <ol>
            {% for x in insert_train_details %}
            <li>train_num:{{x.train_num}}</li>
            <ul>
                
                <li>train_name:{{x.train_name}}</li>
                <li>train_Origin_city:{{x.origin_city}}</li>
                <li>train_Destination_city:{{x.destination_city}}</li>
                <li>train_Departure_time:{{x.departure_time}}</li>
                <li>train_Arival_time:{{x.arival_time}}</li>

            </ul>
            {% endfor %}
           
        </ol>
        {% endif %}
    </div>
   



</body>
</html>